*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  font-family: 'Avenir', 'Proxima Nova' ;
  font-style: normal;
}

html {
 /* font-family: 'Avenir', sans-serif; */
 font-family: 'Avenir','Proxima Nova', ;
 font-size: 10px; 
 box-sizing: border-box
}



/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}